h1 {
  text-align: center;
}

.row {
  display: flex;
}
.row .work {
  padding: 20px;
}
.row .work .work_content {
  border: 2px solid #c3cfe2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.row .work .work_content p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}
.row .work .work_content .pic {
  border-radius: 0 0 10px 10px;
  height: 35vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.row .work .work_content img {
  width: 100%;
}