.row {
  display: flex;
  justify-content: center;
}
.row .work {
  padding: 20px;
}
.row .work .work_content {
  border: 1px solid;
}
.row .work .work_content p {
  text-align: center;
}
.row .work .work_content img {
  width: 100%;
}